<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" >
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" >
    <title>Document</title>
</head>
<body>
    <h1></h1>
    <div class="container contact-form formWrap">        
        <form method="post">
           <div class="row">
                <div class="col-md-8 mx-auto">  
                    <div class="form-group mb-4">
                        <input type="text" name="txtName" class="form-control" placeholder="Task Title *" value="" />
                    </div>                   
                    <div class="form-group mb-4">
                        <textarea name="txtMsg" class="form-control" placeholder="Task Description *" style="width: 100%; height: 150px;"></textarea>
                    </div>
                    <div id="datepicker" class="input-group date mb-4" data-date-format="mm-dd-yyyy">
                        <input class="form-control" type="text" readonly />
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" name="btnSubmit" class="btnContact" value="Send Message" />
                    </div>
                </div>
            </div>
        </form>
    </div>
    

    <script src="{% static 'js/jquery-3.7.0.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
    <script src="{% static 'js/index.js' %}"></script>
</body>
</html>